.matrix {
  display: flex;
  flex-direction: column;
}
.row {
  display: flex;
  flex-direction: row;
}

.cell {
  display: flex;
  width: 20px;
  height: 20px;;
  font-size: 16px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  margin: 2px;
}

.results {
  border-collapse: collapse;
}
.results, .results td, .results th {
  border: 1px solid black;
}

.results td, .results th {
  padding: 5px 5px;
  text-align: center;
}

.results th {
  height: 50px;
  vertical-align: middle;
}

.results td {
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}