<html ng-app="app">
  <head>
    <title>Поиск доменов в матрице</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="app.css"/>
  </head>
  <body ng-controller="appController as ctrl">
    <form name="nmForm">
      <input required type="number" min="1" max="40" maxlength="2" ng-model="ctrl.n" title="Число строк"/>
      x
      <input required type="number" min="1" max="40" maxlength="2" ng-model="ctrl.m" title="Число столбцов"/>
      <input type="button" value="Новая матрица" ng-click="ctrl.newMatrix()" ng-disabled="!nmForm.$valid">
      <input type="button" ng-show="ctrl.matrix" ng-cloak ng-click="ctrl.findDomains()" value="Посчитать домены" ng-disabled="!ctrl.matrixEditable"/>
    </form>
    <div class="error" ng-cloak ng-show="!nmForm.$valid">N и M в диапазоне от 1 до 40</div>
    <form name="autoForm" ng-show="ctrl.matrix" ng-cloak>
      <input required type="number" min="0.01" max="0.99" step="0.01" ng-model="ctrl.prob" title="Вероятность появления единицы"/>
      <input type="button" ng-click="ctrl.autoTest()" value="АВТО" ng-disabled="!autoForm.$valid" title="Автоматически заполить матрицу и найти домены"/>
    </form>
    <div class="error" ng-cloak ng-show="!autoForm.$valid">Вероятность в диапазоне от 0.01 до 0.99</div>
    <div ng-if="ctrl.matrix" ng-cloak>
      <div class="matrix">
        <div class="row" ng-repeat="(i, row) in ctrl.matrix.data track by $index">
          <div class="cell"
               ng-repeat="(j, val) in row track by $index"
               ng-click="ctrl.toggleColor(i, j)"
               ng-style="{'background-color': ctrl.matrix.palette[val], 'cursor': ctrl.matrixEditable ? 'pointer' : 'default'}">
            {{val > 0 ? 1 : 0}}
          </div>
        </div>
      </div>

      <div>Количество доменов: {{ctrl.matrix.domainCount}}</div>
      <table class="results" ng-if="ctrl.testResults.length > 0">
        <tr>
          <th>Вероятность</th>
          <th>Количество доменов в матрице</th>
          <th>Количество ячеек в матрице(N*M)</th>
        </tr>
        <tr class="resultRow" ng-repeat="result in ctrl.testResults track by $index">
          <td class="resultCell">{{result.prob}}</td>
          <td class="resultCell">{{result.domainCount}}</td>
          <td class="resultCell">{{result.size}}</td>
        </tr>
      </table>
    </div>
  </body>
  <script src="angular.min.js"></script>
  <script src="matrix.js"></script>
  <script src="app.js"></script>
</html>
