<html ng-app="app">
  <head>
    <title>Поиск доменов в матрице</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="app.css"/>
  </head>
  <body ng-controller="appController as ctrl">
    <h1>Поиск доменов в матрице</h1>
    <form name="nmForm">
      <input type="button" value="Создать матрицу" ng-click="ctrl.newMatrix()" ng-disabled="!nmForm.$valid"><span>размером</span>
      <input required type="number" name="n" min="{{ctrl.minN}}" max="{{ctrl.maxN}}" ng-model="ctrl.n" title="Число строк от {{ctrl.minN}} до {{ctrl.maxN}}"/><span>строк на</span>
      <input required type="number" name="m" min="{{ctrl.minM}}" max="{{ctrl.maxM}}" ng-model="ctrl.m" title="Число столбцов от {{ctrl.minM}} до {{ctrl.maxM}}"/><span>столбцов.</span>
      <span class="error" ng-cloak ng-show="!nmForm.n.$valid">Ошибка: Число строк от 1 до 40.</span>
      <span class="error" ng-cloak ng-show="!nmForm.m.$valid">Ошибка: Число столбцов от 1 до 40.</span>
    </form>
    <form name="autoForm" ng-show="ctrl.matrix" ng-cloak>
      <input type="button" ng-click="ctrl.autoTest()" value="Автоматически" ng-disabled="!autoForm.$valid" title="Автоматически заполить матрицу и найти домены"/>
      <span>заполнить матрицу единицами с вероятностью</span>
      <input required type="number" name="prob" min="0.01" max="0.99" step="0.01" ng-model="ctrl.prob" title="Вероятность появления единицы"/>.
      <span class="error" ng-cloak ng-show="!autoForm.prob.$valid">Ошибка: Вероятность в диапазоне от 0.01 до 0.99</span>
    </form>
    <form name="manualForm" ng-show="ctrl.matrix" ng-cloak>
      <span>Или установите единицы щелчком мыши и нажмите</span><input type="button" ng-click="ctrl.findDomains()" value="Посчитать домены" ng-disabled="!ctrl.matrixEditable"/>
    </form>
    <span ng-show="ctrl.matrix" ng-cloak>Количество доменов в матрице: {{ctrl.finished ? ctrl.matrix.domainCount : 'неизвестно'}}</span>
    <div ng-if="ctrl.matrix" ng-cloak>
      <div class="matrix">
        <div class="row" ng-repeat="(i, row) in ctrl.matrix.data track by $index">
          <div class="cell"
               ng-repeat="(j, val) in row track by $index"
               ng-click="ctrl.toggleColor(i, j)"
               ng-style="{'background-color': ctrl.matrix.palette[val], 'cursor': ctrl.matrixEditable ? 'pointer' : 'not-allowed'}">
            {{val > 0 ? 1 : 0}}
          </div>
        </div>
      </div>
      <table class="results" ng-if="ctrl.testResults.length > 0">
        <tr>
          <th>Вероятность</th>
          <th>Количество доменов в матрице</th>
          <th>Количество ячеек в матрице(N*M)</th>
        </tr>
        <tr class="resultRow" ng-repeat="result in ctrl.testResults track by $index">
          <td class="resultCell">{{result.prob}}</td>
          <td class="resultCell">{{result.domainCount}}</td>
          <td class="resultCell">{{result.size}}</td>
        </tr>
      </table>
    </div>
    <script src="angular.min.js"></script>
    <script src="matrix.js"></script>
    <script src="app.js"></script>
  </body>
</html>
